<h3>Welcome to Sinatra!</h3>
<form action="/submit" method="POST">
	<input type="text" name="user[name]" value="Enter Model Name" /<br>
	<input type="text" name="user[password]" value="Enter Model Name" >
	<input type="submit" value="Submit" >
</form>
